$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "scss/_bootstrap_custom.scss";
@import "scss/_variables.scss";
@import "fontawesome/scss/font-awesome.scss";
// endbower

body{
  padding: 30px;
  text-align: center;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid $gray-light;
}

.temperature{
  border: 1px solid;
  position: fixed;
  right: 30px;
}

.clock{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: inherit;
  max-height: inherit;
  border: 1px solid;
  div{
    display: inline;
    font-size: 100px;
    font-weight: $headings-font-weight;
  }
  .colon{
    
  }
}

.copyright{
  height: 20px;
  margin: 30px auto;
}